body {
  font-family: var(--primary-font);
  color: rgba(var(--cl-black));
  background-color: rgba(var(--cl-lighthouse));
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  outline: none;
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  transition: var(--fast-trns);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.btn-primary {
  background-color: rgba(var(--cl-lighthouse));
  border: 1px solid transparent;
  color: rgba(var(--cl-black));
}

.btn-primary:hover {
  background-color: rgba(var(--cl-black));
  border: 1px solid rgba(var(--cl-lighthouse));
  color: rgba(var(--cl-lighthouse));
}

.btn-secondary {
  background-color: rgba(var(--cl-black));
  border: 1px solid rgba(var(--cl-lighthouse));
  color: rgba(var(--cl-lighthouse));
}

.btn-secondary:hover {
  background-color: rgba(var(--cl-lighthouse));
  border: 1px solid transparent;
  color: rgba(var(--cl-black));
}

.modal-overlay {
  background-color: rgba(var(--cl-bg-color), 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--backdrop-depth);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transition: var(--fast-trns);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
