.favorite_container {
    background-color: rgba(var(--cl-lighthouse));
}

.favorite_quote-card {
    position: relative;
    width: 335px;
    height: 208px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 72px;
    border-radius: 20px;
    color: rgb(244, 244, 244);
    background-color: rgb(36, 36, 36);
}

@media only screen and (min-width: 768px) {
    .favorite_quote-card {
        width: 704px;
        height: 220px;
        padding: 40px 40px 40px 90px;
    }
}

@media only screen and (min-width: 1440px) {
    .favorite_quote-card {
        width: 494px;
        height: 230px;
    }
}

.favorite_quote-icon-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px;
    width: 34px;
    height: 32px;
    border-radius: 25px;
    background-color: rgb(244, 244, 244, 0.2);
    fill: rgb(244, 244, 244);
}

@media only screen and (min-width: 768px) {
    .favorite_quote-icon-wrap {
        left: 40px;
    }
}

.favorite_quote-icon {
    position: absolute;
    top: 6;
    right: 0;
    fill: rgb(244, 244, 244);
}

@media only screen and (min-width: 768px) {
    .favorite_quote-icon {
        width: 24px;
        height: 24px;
    }
}

.favorite_quote-icon-wrap-dark {
    background-color: rgb(36, 36, 36);
}

.favorite_quote-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0em;
}

@media only screen and (min-width: 768px) {
    .favorite_quote-header {
        font-size: 24px;
        line-height: 1.33;
    }
}

.favorite_quote-card-dark .favorite_quote-header {
    position: relative;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .favorite_quote-card-dark .favorite_quote-header {
        margin-bottom: 6px;
    }
}

.favorite_quote-card-dark .favorite_quote-text {
    color: rgb(244, 244, 244, 0.6);
    margin-bottom: 16px;
    height: 107px;
    overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
    .favorite_quote-card-dark .favorite_quote-text {
        margin-bottom: 18px;
        height: 89px;
    }
}

@media only screen and (min-width: 1440px) {
    .favorite_quote-card-dark .favorite_quote-text {
        margin-bottom: 8px;
        height: 92px;
    }
}

@media only screen and (min-width: 768px) {
    .favorite_quote-card-dark .favorite_quote-subtitle {
        font-size: 16px;
        line-height: 1.5;
    }
}

.favorite_quote-card-light {

    background-color: rgb(255, 255, 255);
    color: #242424;
}

@media only screen and (max-width: 767px) {
    .favorite_quote-card-light {
        height: 201px;
    }
}

@media only screen and (min-width: 1440px) {
    .favorite_quote-card-light {
        height: 315px;
    }
}

.favorite_quote-card-light .favorite_quote-header {
    margin-bottom: 2px;
}

.favorite_quote-card-light .favorite_quote-subtitle {
    color: rgb(36, 36, 36, 0.6);
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .favorite_quote-card-light .favorite_quote-subtitle {
        margin-bottom: 20px;
    }
}

.favorite_quote-text-wrap {
    height: 92px;
    overflow-y: scroll;
}

@media only screen and (min-width: 1440px) {
    .favorite_quote-text-wrap {
        height: 163px;
    }
}

.favorite-img-card {
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 335/119;
}

.favorite-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media (min-width: 768px) {
    .favorite-img-card {
        aspect-ratio: 344/141;
    }
}

@media (min-width: 1440px) {
    .favorite-img-card {
        aspect-ratio: 239/141;
    }
}

.favorite_110_min_card {
    background: var(--cl-white);
    min-width: 335px;
    padding: 24px 0 20px 20px;
}

/* Десктоп (від 1440px і більше) */
/* @media only screen and (min-width: 1440px) {
    .quote-category {
        display: flex;
        flex-direction: row;
        /* Додано для безпечного редефайнінгу */
        /* align-items: flex-start;
        justify-content: space-between;
        max-width: 1376px;
        padding: 32px 32px 32px 0;
        gap: 32px;
        margin: auto;
    } 
} */

/* Мобілки та планшети (до 768px) */
/* @media only screen and (max-width: 768px) {
    .quote-category {
        display: flex;
        flex-direction: column-reverse;
        padding: 16px;
        gap: 24px;
    }
} */

.quote-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    /* padding: 16px;
    gap: 24px; */
}

.quote-text {
    min-height: 104px;
    margin-bottom: 16px;
}