@media only screen and (min-width: 1440px) {
  .exercises-section {
    max-width: 1376px;
    margin: auto;
    padding-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1439px) {
  .exercises-section {
    max-width: 704px;
    margin: auto;
    padding-top: 64px;
  }
}

@media only screen and (max-width: 767px) {
  .exercises-section {
    max-width: 335px;
    margin: auto;
    padding-top: 40px;
  }
}

.exercises-header {
  font-family: var(--primary-font);
  font-size: 28px;
  font-weight: 300;
  line-height: 1.36;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.exercise-header-category {
  color: rgb(var(--cl-black), 0.5);
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .exercises-header {
    font-size: 44px;
    line-height: 1.09;
    margin-bottom: 32px;
  }

  .exercise-header-category {
    color: rgb(var(--cl-black), 0.5);
    font-size: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .exercises-header {
    margin-bottom: 0;
  }
}

.filter-btns-list {
  display: flex;
  gap: 20px;
}

.filter-btn {
  display: block;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 0;
  color: rgb(var(--cl-black), 0.6);
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  transition: color var(--fast-trns);
}

@media only screen and (min-width: 768px) {
  .filter-btn {
    font-size: 16px;
    line-height: 1.5;
  }
}

.filter-btn:hover {
  color: rgb(var(--cl-black));
}

.active-filter-btn {
  position: relative;
  color: rgb(var(--cl-black));
}

.active-filter-btn::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: rgb(var(--cl-black));
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.filters-section {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .filters-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.search-form {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .search-form {
    margin-right: 30px;
  }
}

.search-field-wrapper {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .search-field-wrapper {
    margin-bottom: 0;
    width: 237px;
  }
}

@media only screen and (min-width: 1440px) {
  .search-field-wrapper {
    width: 273px;
  }
}

.search-field {
  display: inline-flex;
  padding: 12px 14px;
  width: 100%;
  height: 44px;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #242424;
}

@media screen and (min-width: 768px) {
  .search-field {
    height: 48px;
  }
}

.search-icon {
  position: absolute;
  right: 13px;
  top: 13px;
  width: 18px;
  height: 18px;
  fill: none;
  stroke: rgb(var(--cl-black));
}

@media screen and (min-width: 768px) {
  .search-icon {
    right: 15px;
    top: 15px;
  }
}

.active-search-form {
  display: block;
}
