@import url(../base/variables.css);

.footer {
  color: rgba(var(--cl-lighthouse), 1);
  background-color: rgba(var(--cl-black), 1);
  font-weight: 400;
}

.footer-container {
  background-color: rgba(var(--cl-black), 1);
  padding: 64px 32px 16px 32px;
  max-width: 1440px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
  justify-content: baseline;
}

.logo-socials {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 158px;
}

.footer-nav-top {
}

.logo {
}

.footer-logo {
}

.footer-logo-icon {
  width: 132px;
  height: 24px;
  flex-shrink: 0;
  fill: rgba(var(--cl-lighthouse), 1);
}
.footer-socials {
}

.footer-socials-list {
  display: flex;
  gap: 12px;
}
.footer-socials-item {
  display: flex;
  justify-content: center;
  padding: 8px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(var(--cl-lighthouse), 0.1);
}

.socials-link {
}

.footer-icon-link {
}

.socials-icon {
}
.footer-socials-icons {
  flex-shrink: 0;
}
.footer-text {
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: -1.12;
  width: 595px;
  margin-right: 115px;
  word-wrap: break-word; /* Allow text wrapping */
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 352px;
  color: rgba(var(--cl-lighthouse), 1);
}

.footer-input {
  display: flex;
  justify-content: center;
  min-width: fit-content;
  outline: none;
  width: 100%;
  padding: 12px 12px 12px 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: var(--fast-trns);
  background-color: rgba(var(--cl-black), 1);
  border: 1px solid #f4f4f4;
  border-radius: 30px;
  color: #f4f4f4;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  color: rgba(var(--cl-lavender-gray), 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: -0.02em;
}

.footer-rights {
  margin-right: 122px;
}
.footer-privacy {
  margin-right: 498px;
}

.footer-form-label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  color: rgba(var(--cl-lighthouse), 1);
}
