@import url(../base/variables.css);

.footer {
  color: rgba(var(--cl-lighthouse), 1);
  font-weight: 400;
  margin-top: 40px;
}

/* tab */
@media only screen and (min-width: 768px) {
  .footer {
    margin-top: 50px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .footer {
    margin-top: 66px;
  }
}

/* mobile */
.footer-container {
  background-color: rgba(var(--cl-black), 1);
  padding: 40px 20px 10px 20px;
  min-width: 335px;
  max-width: 375px;
  margin: 0 auto;
}
/* tab */
@media only screen and (min-width: 768px) {
  .footer-container {
    background-color: rgba(var(--cl-black), 1);
    padding: 64px 32px 6px 32px;
    max-width: 768px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .footer-container {
    background-color: rgba(var(--cl-black), 1);
    padding: 64px 32px 16px 32px;
    max-width: 1440px;
  }
}

/* mobile */
.footer-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  justify-content: baseline;
}

/* tab */
@media only screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    justify-content: baseline;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    justify-content: baseline;
  }
}

/* mobile */
.logo-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

/* tab */
@media only screen and (min-width: 768px) {
  .logo-socials {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-right: 114px;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .logo-socials {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-right: 158px;
  }
}

.footer-logo-icon {
  width: 132px;
  height: 24px;
  flex-shrink: 0;
  fill: rgba(var(--cl-lighthouse), 1);
}

.footer-socials-list {
  display: flex;
  gap: 12px;
}

.footer-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-link {
  display: block;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(var(--cl-lighthouse), 0.1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  display: block;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(var(--cl-lighthouse), 0.1);
  background-color: rgba(var(--cl-lighthouse), 1);
}

.footer-socials-icons {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  display: block;
  fill: rgba(var(--cl-lighthouse), 0.9);
  opacity: 100%;
}

.footer-icon-link:hover .footer-socials-icons,
.footer-icon-link:focus .footer-socials-icons {
  fill: rgba(var(--cl-black), 0.8);
}

.text-and-form {
}

/* tab */
@media only screen and (min-width: 768px) {
  .text-and-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .text-and-form {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
}
.footer-text {
  font-size: 38px;
  line-height: 115%;
  letter-spacing: -0.76px;
  width: 335px;
  word-wrap: break-word; /* Allow text wrapping */
  margin-bottom: 20px;
}

/* tab */
@media only screen and (min-width: 768px) {
  .footer-text {
    font-size: 56px;
    line-height: 107%;
    letter-spacing: -1.12px;
    width: 402px;
    word-wrap: break-word; /* Allow text wrapping */
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .footer-text {
    width: 595px;
    margin-right: 115px;
    word-wrap: break-word; /* Allow text wrapping */
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 335px;
  color: rgba(var(--cl-lighthouse), 1);
  font-size: 14px;
  margin-bottom: 120px;
}
/* tab */
@media only screen and (min-width: 768px) {
  .footer-form {
    align-items: start;
    width: 352px;
    font-size: 16px;
    margin-bottom: 0;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .footer-form {
    align-items: start;
    width: 352px;
    font-size: 16px;
  }
}

.footer-input {
  display: flex;
  justify-content: center;
  min-width: fit-content;
  outline: none;
  width: 100%;
  padding: 12px 12px 12px 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: var(--fast-trns);
  background-color: rgba(var(--cl-black), 1);
  border: 1px solid #f4f4f4;
  border-radius: 30px;
  color: #f4f4f4;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* mobile */
.footer-copyright {
  /* display: flex;
  flex-direction: column; */
  color: rgba(var(--cl-lavender-gray), 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: -0.02em;
  gap: 10px;
}
/* tab */
@media only screen and (min-width: 768px) {
  .footer-copyright {
    display: flex;
    flex-direction: row;
    color: rgba(var(--cl-lavender-gray), 0.9);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    letter-spacing: -0.02em;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .footer-copyright {
    display: flex;
    flex-direction: row;
    color: rgba(var(--cl-lavender-gray), 0.9);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    letter-spacing: -0.02em;
  }
}

.footer-rights {
  display: block;
  margin-bottom: 10px;
}

/* tab */
@media only screen and (min-width: 768px) {
  .footer-rights {
    margin-right: 78px;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .footer-rights {
    margin-right: 122px;
  }
}

.footer-privacy {
  display: inline;
  margin-right: 79px;
}

/* tab */
@media only screen and (min-width: 768px) {
  .footer-privacy {
    margin-right: 178px;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .footer-privacy {
    margin-right: 498px;
  }
}

.footer-form-label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  color: rgba(var(--cl-lighthouse), 1);
}

.footer-year {
  display: inline;
}
