  .scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 12px 16px;
      font-size: 14px;
      background-color: #242424;
      color: white;
      border: none;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      cursor: pointer;
      z-index: 1000;
      display: none;
      /* сховано за замовчуванням */
  }

  @media only screen and (max-width: 767px) {
      .scroll-up-icon {
          width: 13.2px;
          height: 13.2px;
      }

      .scroll-to-top {
          height: 40px;
          width: 40px;
          padding: 12px;
          padding-bottom: 8px;
      }
  }