<section class="categories-grid">
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Abductors exercise"
    />
    <div class="category-name">Abductors</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Abs exercise"
    />
    <div class="category-name">Abs</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Adductors exercise"
    />
    <div class="category-name">Adductors</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Biceps exercise"
    />
    <div class="category-name">Biceps</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Calves exercise"
    />
    <div class="category-name">Calves</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Cardiovascular System exercise"
    />
    <div class="category-name">Cardiovascular System</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Delts exercise"
    />
    <div class="category-name">Delts</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Forearms exercise"
    />
    <div class="category-name">Forearms</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Glutes exercise"
    />
    <div class="category-name">Glutes</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Hamstrings exercise"
    />
    <div class="category-name">Hamstrings</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Lats exercise"
    />
    <div class="category-name">Lats</div>
    <div class="category-type">Muscles</div>
  </div>
  <div class="category-card">
    <img
      src="./images/favorites/favorites_desktop.jpg"
      srcset="
        ./images/favorites/favorites_desktop.jpg    1x,
        ./images/favorites/favorites_desktop@2x.jpg 2x
      "
      alt="Levator Scapulae exercise"
    />
    <div class="category-name">Levator Scapulae</div>
    <div class="category-type">Muscles</div>
  </div>
</section>
<div class="category-page-wrapper">
  <a href="#" class="page-number active">1</a>
  <a href="#" class="page-number">2</a>
</div>
