<!-- Add is-open class to modal overlay for testing -->

<div class="modal-overlay">
  <div class="container">
    <div class="modal exercise-modal-card">
      <button class="close-exercise-modal-btn">
        <svg class="close-exercise-modal-icon">
          <use href="./images/icons.svg#close"></use>
        </svg>
      </button>
      <div class="exercise-gif-wrapper">
        <img
          class="exercise-gif"
          src="https://ftp.goit.study/img/power-pulse/gifs/0003.gif"
          alt="alt text from backend here"
        />
      </div>
      <div class="exercise-modal-overview">
        <div>
          <h2 class="exercise-modal-title">Air bike</h2>
          <div class="exercise-modal-rating-block">
            <p class="exercise-modal-rating">4.0</p>
            <svg class="exercise-modal-rating-icon rated">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg class="exercise-modal-rating-icon rated">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg class="exercise-modal-rating-icon rated">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg class="exercise-modal-rating-icon rated">
              <use href="./images/icons.svg#star"></use>
            </svg>
            <svg class="exercise-modal-rating-icon">
              <use href="./images/icons.svg#star"></use>
            </svg>
          </div>
        </div>
        <div class="exercise-modal-info-block">
          <div class="exercise-modal-info">
            <p class="exercise-modal-info-title">Target</p>
            <p class="exercise-modal-info-descr">abs</p>
          </div>
          <div class="exercise-modal-info">
            <p class="exercise-modal-info-title">Body Part</p>
            <p class="exercise-modal-info-descr">Waist</p>
          </div>
          <div class="exercise-modal-info">
            <p class="exercise-modal-info-title">Equipment</p>
            <p class="exercise-modal-info-descr">Body weight</p>
          </div>
          <div class="exercise-modal-info">
            <p class="exercise-modal-info-title">Popular</p>
            <p class="exercise-modal-info-descr">150</p>
          </div>
          <div class="exercise-modal-info">
            <p class="exercise-modal-info-title">Burned Calories</p>
            <p class="exercise-modal-info-descr">323/3min</p>
          </div>
        </div>
        <div class="exercise-modal-descr">
          This refers to your core muscles, which include the rectus abdominis,
          obliques, and transverse abdominis. They're essential for maintaining
          posture, stability, and generating force in many movements. Exercises
          that target the abs include crunches, leg raises, and planks.
        </div>
        <div class="exercise-modal-buttons-block">
          <button class="btn btn-primary">
            Add to favorites
            <svg class="exercise-modal-btn-icon">
              <use href="./images/icons.svg#heart"></use>
            </svg>
          </button>
          <button class="btn btn-secondary">Give a rating</button>
        </div>
      </div>
    </div>
  </div>
</div>
