<section>
    <div class="container exercise-container">
        <ul class="exercise-list">
            <li class="exercise-item">
                <div class="exercise-header">
                    <p class="exercise-header-badge">WORKOUT</p>
                    <p class="exercise-header-rating">
                        <svg class = "exercise-rating-icon" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </p>
                    <button class="exercise-header-button" type="button">Start
                        <svg class="exercise-btn-icon" width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                            <use href="./images/icons.svg#arrow-up"></use>
                        </svg>
                    </button>
                </div>
                <div class="exercise-content">
                    <svg class="exercise-icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <use href="./images/icons.svg#runnig-man"></use>
                    </svg>
                    <h3 class="exercise-title">Full Body</h3>
                </div>
                <ul class="exercise-footer">
                    <li class="exercise-footer-item">Burned calories: 
                        <span class="exercise-footer-item-accent">220 / 3 min</span>
                    </li>
                    <li class="exercise-footer-item">Body part: 
                        <span class="exercise-footer-item-accent">Waist</span>
                    </li>
                    <li class="exercise-footer-item">Target: 
                        <span class="exercise-footer-item-accent">Abs</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>