<div class="container">
  <section class="exercises-section">
    <h2 class="exercises-header">Exercises</h2>

    <div class="filters-section">
      <form class="search-form">
        <div class="search-field-wrapper">
          <input type="text" name="query" class="search-field" placeholder="Search" />
          <button class="search-btn" type="submit">
            <svg class="search-icon">
              <use href="./images/icons.svg#search"></use>
            </svg>
          </button>
        </div>
      </form>
      <!-- <button class="filter-btn" type="submit">search</button> -->
      <ul class="filter-btns-list">
        <li>
          <button class="filter-btn active-filter-btn js-filter-btn" type="button">
            Muscles
          </button>
        </li>
        <li>
          <button class="filter-btn js-filter-btn" type="button">
            Body parts
          </button>
        </li>
        <li>
          <button class="filter-btn js-filter-btn" type="button">
            Equipment
          </button>
        </li>
      </ul>
    </div>
  </section>
</div>