<footer class="footer" id="subscribe">
  <div class="footer-container">
    <!-- footer top -->
    <div class="footer-top">
      <!-- footer logo and socials -->
      <div class="logo-socials">
        <nav class="footer-nav-top">
          <!-- Logo -->
          <a class="logo footer-logo" href="#">
            <svg class="footer-logo-icon" width="132" height="24">
              <use href="./images/icons.svg#logo"></use>
            </svg>
          </a>
        </nav>

        <!-- Social Media Links -->
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              class="footer-icon-link"
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Facebook"
            >
              <svg
                class="footer-socials-icons"
                width="28"
                height="28"
                fill="currentColor"
              >
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="socials-link footer-icon-link"
              href="https://instagram.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Instagram"
            >
              <svg
                class="footer-socials-icons"
                width="28"
                height="28"
                fill="currentColor"
              >
                <use href="./images/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-icon-link"
              href="https://youtube.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to Youtube"
            >
              <svg
                class="footer-socials-icons"
                width="28"
                height="28"
                fill="currentColor"
              >
                <use href="./images/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="text-and-form">
        <!-- footer text -->
        <p class="footer-text">Transforming your <i>body</i> shape with us</p>

        <!-- form -->
        <div>
          <form class="footer-form" action="">
            <label class="footer-form-label" for="name"
              >Subscribe and learn about new exercise</label
            >
            <input
              type="email"
              id="email"
              class="footer-input"
              placeholder="Email"
            />
            <button class="btn btn-primary" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer Bottom Section -->
    <div class="footer-copyright">
      <p class="footer-rights">Your Energy. All rights reserved.</p>
      <p class="footer-privacy">Privacy Policy / Terms of Service</p>
      <p class="footer-year">©2023</p>
    </div>
  </div>
</footer>
