<div class="quote-section section">
  <div class="quote-card quote-card-dark">
    <div class="quote-icon-wrap">
      <svg width="18px" height="20px">
        <use href="./images/icons.svg#running-man"></use>
      </svg>
    </div>
    <h2 class="quote-header">
      Quote of the day
      <svg class="quote-icon" width="20px" height="20px">
        <use href="./images/icons.svg#quote"></use>
      </svg>
    </h2>
    <div class="quote-wrap">
    </div>
  </div>
  <div class="quote-img-card">
    <picture>
      <source media="(min-width: 1440px)" srcset="
          ./images/quote/quote_desktop.jpg    1x,
          ./images/quote/quote_desktop@2x.jpg 2x
        " />
      <source media="(min-width: 768px)" srcset="
          ./images/quote/quote_tablet.jpg    1x,
          ./images/quote/quote_tablet@2x.jpg 2x
        " />
      <source media="(max-width: 767px)" srcset="
          ./images/quote/quote_mobile.jpg    1x,
          ./images/quote/quote_mobile@2x.jpg 2x
        " />
      <source media="(max-width: 767px)" srcset="
          ./images/quote/quote_tablet.jpg 1x,
          ./images/quote/quote_tablet.jpg 2x
        " />
      <img class="" src="./images/quote/quote_tablet.jpg" alt="Two girls drinking water from bottles" />
    </picture>
  </div>
  <div class="quote-card quote-card-light">
    <h3 class="quote-header">110 min</h3>
    <div class="quote-icon-wrap quote-icon-wrap-dark">
      <svg width="18px" height="20px">
        <use href="./images/icons.svg#dumbbell"></use>
      </svg>
    </div>
    <p class="quote-subtitle">Daily norm of sports</p>
    <div class="quote-text-wrap">
      <p class="quote-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</div>